/*
 *
 * 00.00 TOC
 *
 * 00.01 GLOBAL & IMPORTS
 *
 */
/** 00.01 GLOBAL & IMPORTS **/
@import url("../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css");
@import url("../../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css");
@import url("../../../node_modules/@fortawesome/fontawesome-free/css/regular.min.css");
/* line 19, ../sass/style.scss */
* {
  box-sizing: border-box;
  position: relative;
}

/* line 24, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
}
